# PostgreSQL OLTP
OLTP_DB_USER=postgres
OLTP_DB_PASSWORD=postgres
OLTP_DB_NAME=Adventureworks
OLTP_HOST_PORT=5432

# PostgreSQL DWH
DWH_DB_USER=postgres
DWH_DB_PASSWORD=postgres
DWH_DB_NAME=adventureworks_dwh
DWH_HOST_PORT=5433

# Apache Superset
SUPERSET_PORT=8088
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@adventureworks.com
